<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo logo">Muslim App</a>
            <ul class="right hide-on-med-and-down">
                {% for item in site.data.navigation %}
                {% if item.link == "/apps.html" %}
                <li>
                <div class="logo dropdown">
                    <button class="btn dropdown-toggle text-capitalize" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {% assign btn_title = 'Apps' %}
                        {% for app in site.data.apps %}
                        {% if page.url == app.link %}
                        {% assign btn_title = app.name %}
                        {% endif %}
                        {% endfor %}
                        {{ btn_title }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for app in site.data.apps %}
                        <a class="dropdown-item" href={{ app.link }}>{{ app.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                </li>
                {% else %}
                <li {% if page.url==item.link %}class="active" {% endif %}>
                    <a href="{{ item.link }}">{{ item.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>